<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>beautiful/::g</string>
	<string>/::g我去, 好美呀</string>
	<string>唱歌/::g真好听</string>
	<string>/::g再来一首</string>
	<string>狗带了!!!/::g</string>
	<string>你的眉毛象/::g最漂亮的柳叶</string>
	<string>你咋/::g这么美呢</string>
	<string>你咋/::g这么漂亮呢</string>
	<string>/::g你咋这么逗呢</string>
	<string>/::g</string>
	<string>一群逗比/::g啊</string>
	<string>我爱/::g你呀</string>
	<string>你多/::g大啊</string>
	<string>是不是/::g整容了</string>
	<string>有男朋友/::g了吗</string>
	<string>/::g孩子多大了</string>
	<string>/::g有妹妹吗</string>
	<string>妹妹/::g嫁人了吗</string>
	<string>有姐/::g姐吗</string>
	<string>姐/::g姐嫁人了吗</string>
	<string>高/::g考多少人啊</string>
	<string>/::g哪个城市的</string>
	<string>哪个学校的/::g</string>
	<string>发夹/::g什么颜色的</string>
	<string>/::g666</string>
	<string>/::goods</string>
</array>
</plist>
